<div id="przypiszKierPopUp">
    <div class="popUp__inner">
        <div class="closeBtn"><i class="fas fa-times"></i></div>
        <p class="popup__header">Wybierz z listy</p>
        <div>
            <form onsubmit="submitChangeDriverRelation(event)">
                <input type="text" name="var" id="varK" list="nazwiskoEdit"/>
                <datalist id="nazwiskoEdit">

                    {% for driver in drivers %}
                        <option data-id='{{ driver.id }}' value='{{ driver.name }}'>{{ driver.name }}</option>
                    {% endfor %}

                </datalist>
                <input onclick="sendPrzypiszFormKier()" type="submit" class="form-control mt-3" value="Zapisz"/>
                <input type="button" onclick="exitPrzypiszForm()" class="form-control mt-3" value="Anuluj" />
            </form>
        </div>
    </div>
</div>