{% extends "base.twig" %}

{% block content %}
<div class="container-fluid" id="dashboard">
    <div>
        Odśwież stronę aby zobaczyć aktualne dane.
    </div>
    <div class="row">
        <div class="col-12 col-md-6">

            {% include '/partials/purchases_list.twig' %}
            
        </div>
        <div class="col-12 col-md-6">

            {% include '/partials/releases_list.twig' %}

        </div>
    </div>
</div>
{% endblock %}